@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 43% 97%;
    --foreground: 222.2 84% 4.9%;
    --card: 210 43% 97%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 210 43% 97%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 205 25% 59%;
    --primary-foreground: 210 40% 98%;
    --secondary: 207 30% 94%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 207 30% 94%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 207 21% 73%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 30% 90%;
    --input: 210 30% 90%;
    --ring: 205 25% 59%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 205 25% 15%;
    --foreground: 210 40% 98%;
    --card: 205 25% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 205 25% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 205 25% 59%;
    --primary-foreground: 210 40% 98%;
    --secondary: 207 21% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 207 21% 25%;
    --muted-foreground: 215 20% 65%;
    --accent: 207 21% 30%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 207 21% 25%;
    --input: 207 21% 25%;
    --ring: 205 25% 59%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom Scrollbar Styles */
@layer base {
  /* For Webkit-based browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: hsl(var(--background));
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary) / 0.5);
    border-radius: 20px;
    border: 3px solid hsl(var(--background));
    transition: background-color 0.2s ease-in-out;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--primary));
  }
}
