@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 228 35% 95%;
    --card-foreground: 0 0% 0%;
    --popover: 228 35% 95%;
    --popover-foreground: 0 0% 0%;
    --primary: 220 40% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 228 18% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 227 12% 85%;
    --muted-foreground: 227 12% 45%;
    --accent: 221 36% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 83%;
    --input: 0 0% 83%;
    --ring: 220 40% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 100%;
    --card: 225 16% 15%;
    --card-foreground: 0 0% 100%;
    --popover: 225 16% 15%;
    --popover-foreground: 0 0% 100%;
    --primary: 226 33% 66%;
    --primary-foreground: 0 0% 0%;
    --secondary: 228 10% 23%;
    --secondary-foreground: 0 0% 100%;
    --muted: 230 7% 32%;
    --muted-foreground: 230 7% 65%;
    --accent: 225 31% 60%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 226 33% 66%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Custom Text Selection Style */
  ::selection {
    background: #fef08a; /* highlighter-yellow */
    color: #1e293b; /* slate-800 */
  }
  ::-moz-selection {
    background: #fef08a; /* highlighter-yellow */
    color: #1e293b; /* slate-800 */
  }
}

/* Custom Scrollbar Styles */
@layer base {
  /* For Webkit-based browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: hsl(var(--background));
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary) / 0.5);
    border-radius: 20px;
    border: 3px solid hsl(var(--background));
    transition: background-color 0.2s ease-in-out;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--primary));
  }
}
